/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	padding: 0 50px 100px 50px;
	font-family: sans-serif;
}

h2 {
	margin-top: 50px;
}

.obdelnik {
	width: 300px;
	height: 100px;
}

.posun		{ background-color: #2ecc71;}
.rotace 	{ background-color: #e74c3c;}
.zvetseni	{ background-color: #3498db;}

/* ----------------------- */

.posun {
  transition: 0.4s;
}

.posun:hover {
  transform: translate(100px);
}

.rotace {
  transition: 1s;
  transform-origin: top left;
}

.rotace:hover {
  transform: rotate(180deg);
  background-color: yellow;
  
}

.zvetseni {
  transition: 1s;
}

.zvetseni:hover {
  transform-origin: top left;
  transform: scalex(1.5);
}