/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	padding: 50px;
}


.delitko {
	margin: 50px 0;
}



.tlacitko {
	display: inline-block;
	padding: 20px 30px;
	font-size: 24px;
	line-height: 1;
	background-color: #e74c3c;
	color: white;
	border-radius: 5px;
	text-decoration: none;
}


.ctverecek {
	width: 250px;
	height: 250px;
	background-color: #2ecc71;
}


.kolecko {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background-color: #3498db;;
}


/* ------------------------------------------ */

.ctverecek {
  transition: 2s;
}

.ctverecek:hover {
  background-color: red;
  width: 1000px;
  opacity: 0.5;
}

.kolecko {
  transition: 2s;
}

.kolecko:hover {
  border-radius: 0;
}

html {
  scroll-behavior: smooth;
}

.tlacitko {
  box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.5);
  transition: 0.2s
}

.tlacitko:active {
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
  transform: translate(4px, 7px);
}